.container-fluid {
    background-color: rgb(200, 200, 200);
    min-height: 100%;
}

.scrollDesktop .select{
    height: 300px;
    overflow-y: scroll;
}
.scrollMobile {
    display: none;
}
.container-fluid .col-sm-6 {
    flex: none;
    width: 30%;
    max-width: unset;
}
/* To set up a checkbox inside a dropdown */
.container-fluid .dropdown input[type=text] {
    background: rgb(60,60,60);
    padding: 0px 5px;
    border: 1px solid black;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    width: 100%;
    max-width: 400px;
}
.container-fluid .dropdown {
    margin-bottom: 5px;
}
.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}
.game-image {
    width: 50px;
}
.filtered-list {
    width: 70%;
}
table.item-table {
    width: 100%;
}
table.item-table tr {
    padding: 5px;
    border: 1px solid black;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
table.item-table td.info {
    padding: 5px;
}
.dropdown-item.selected, .dropdown-item.selected:hover {
    background: rgb(60,60,60);
    color: white;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

/* To separate desktop and mobile */
@media only screen and (max-width: 768px) {
    .container-fluid .col-sm-6 {
        width: 100%; 
        text-align: center;
    }
    .container-fluid .filtered-list {
        width: 100%;
    }
}

#devName {
    text-align: center;
}

#genreName {
    text-align: center;
}

.gameName a {
    color: darkslategrey;
    text-align: center;
}

.gameImage img {
    text-align: left;
    height: 100px

}

.italicDescription {
    font-size: 11px;
}