.container-fluid {
    background-color: rgb(200, 200, 200);
}

.scrollDesktop .select{
    height: 300px;
    overflow-y: scroll;
}
.scrollMobile {
    display: none;
}
/* To set up a checkbox inside a dropdown */

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}
.game-image {
    width: 50px;
}
.filtered-list {
    width: 50%;
}
table.item-table {
    width: 100%;
}
table.item-table tr {
    padding: 5px;
    border: 1px solid black;
    height: 50px;
    font-size: 16px;
}
.dropdown-item.selected, .dropdown-item.selected:hover {
    background: rgb(60,60,60);
    color: white;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

/* To separate desktop and mobile */
@media only screen and (max-width: 768px) {
    .scrollMobile {
        display:block;
    }
    .scrollDesktop {
        display:none;
    }
}

.container-fluid {
    height: 2000px;
}

#devName {
    text-align: center;
}

#genreName {
    text-align: center;
}

.gameName a {
    color: darkslategrey;
    text-align: center;
}

.gameImage img {
    text-align: left;
    height: 100px

}