.content, .container {
    background: rgb(200,200,200);
}
.content .similar-content {
    display: inline-block;
    width: calc(75% - 144px);
    padding: 20px;
    margin: 0px -5px;
}
.content .similar-form {
    display: inline-block;
    width: calc(25% - 5px);
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background: rgba(50,50,255,0.5);
    vertical-align: top;
}
.content .tag-bar {
    display: inline-block;
    width: 144px;
    text-align: center;
    vertical-align: top;
    border-right: 1px black solid;
}
.similar-form .title{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
    color: darkblue;
    text-align: center;
}

/* SIMILAR CONTENT SECTION */

.similar-content .item {
    width: 100%;
    position: relative;
}
.similar-content .suggestion.item {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 5px black;
}
.item .item-head {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}
.item-head .title {
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 5px;
    margin-right: -5px;
}
.item-head h1, .item-head h2 {
    margin: 0px;
}
.item-head .creator {
    display: inline-block;
    width: 50%;
    text-align: left;
    padding-left: 5px;
}
.item .image {
    width: 18%;
    display:inline-block;
}
.item .image img {
    width: 100%;
    border-radius: 10px;
}
.item .description {
    display: inline-block;
    margin-left: -5px;
    width: calc(82% - 95px);
    vertical-align: top;
    padding: 10px;
}
.description p {
    margin: 0px;
    font-size: 20px;
}
.item .right-bar {
    display: inline-block;
    width: 95px;
    margin-left: -5px;
    vertical-align: top;
}
.item .right-bar .tag {
    border: 1px solid black;
    border-radius: 3px;
    background: black;
    color: white;
    width: 89px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
}
.right-bar .sim-rank {
    width: 100%;
    text-align: center;
    position: relative;
    border-radius: 20%;
    background: brown;
}
.sim-rank.first {
    background: green;
}
.sim-rank.second {
    background: yellow;
}
.sim-rank.third {
    background: orangered;
}
.sim-rank .nb {
    font-size: 500%;
    line-height: 100px;
}
/* END OF SIMILAR CONTENT SECTION */
.tag-bar div.tag {
    display: block;
    margin: 4px 20px 4px 4px;
    background: rgb(220,80,80);
    border: 1px solid black;
    border-radius: 5px;
    width: calc(100% - 24px);
    font-size: 18px;
}
.tag-bar div.tag.selected {
    margin-right: 4px;
    margin-left: 20px;
    background: rgb(80,220,80);
}
.tag-bar div.tag:hover {
    box-shadow: 0px 0px 5px 2px rgb(80,220,80);
}
.tag-bar div.tag.selected:hover {
    box-shadow: 0px 0px 5px 2px rgb(220,80,80);

}
@media only screen and (max-width: 600px) {
    .content .tag-bar {
        display: block;
        width: 100%;

    }
}